.animated-section {
  opacity: 0;
  transform: translateX(-500px); /* Initially move element 50px to the left */
}

.animated-section.animate {
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease; /* Define transition for opacity and transform */
  transform: translateX(0); /* Move element back to its original position */
}
